body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  margin: 0;
  padding: 0;

  font-size: 68px;
}

button {
  cursor: pointer;
  transition: transform 0.5s ease;
}

button:hover {
  transform: scale(1.05);
}
p {
  margin: 0;
  padding: 0;
}
img,
figure {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 45px;
  height: 710px;
  background-image: url(images/nav.png);
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  color: #fff;
  font-size: 68px;
  font-weight: 400;
  word-spacing: 60px;
  margin-top: 224px;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.navigation__link {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
}

.hero {
  padding-top: 145px;
  padding-left: 80px;
  padding-bottom: 100px;
  color: #20201f;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

.hero > h2 {
  width: 258px;
}

.hero > p {
  font-size: 19px;
  width: 468px;
  line-height: 33px;
}
.button__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button__item {
  border: 1px solid #fff;
  padding: 13px 30px;
  font-size: 19px;
  background-color: #fff;
}

.button__item:hover {
  border: 1px solid #20201f;
  border-radius: 42px;
}
.hero {
  background-image: url(images/hero1.png), url(images/hero2.png),
    url(images/hero3.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom 0 left 600px, top 35px right 43px,
    bottom 61px right 0;
}

.collection {
  background-color: #e5e2de;
  color: #20201f;
  padding-left: 84px;
  padding-right: 84px;
  padding-top: 110px;
  padding-bottom: 54px;
  position: relative;
}

.images__desc__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 33px;
}
.collection__wrapper h2 {
  width: 300px;
}

.collection__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  column-gap: 28px;
  flex-wrap: wrap;
  width: 540px;
}

.collection__images {
  margin-top: 94px;
  margin-bottom: 104px;
  color: #20201f;
  font-size: 16px;

  display: inline-block;
}

.collection__images__item {
  position: relative;
}

.collection__images__item figcaption {
  font-size: 45px;
  text-align: center;
  color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.collection__images__desc {
  margin-top: 18px;
}

.collection__images__item:last-child {
  position: absolute;
  top: 220px;
  right: 0;
}

.collection__pages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  font-size: 22px;
}

.dealer {
  padding-top: 116px;
  padding-left: 84px;
  padding-bottom: 200px;

  color: #20201f;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;

  background-image: url("images/dealer.png");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.dealer h2 {
  font-size: 68px;
  width: 250px;
}

.dealer p {
  font-size: 19px;
  line-height: 33px;
  width: 414px;
}
.dealer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 35px;
}

.dealer input {
  border: 1px solid #8b8b8b;
  border-radius: 14px;
  padding: 18px 23px;
  font-size: 19px;
  font-family: "Roboto";
  outline: none;
}
.dealer input:focus {
  border-color: #8b8b8b91;
}

.dealer button {
  padding: 13px 30px;
  font-size: 19px;
  color: #20201f;
  border: 1px solid #20201f;
  border-radius: 45px;
  background-color: #fff;
}

.inspire {
  height: 592px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 129px;

  color: #e5e2de;
  background-color: #20201f;

  background-image: url("images/inspire1.png"), url("images/inspire2.png"),
    url("images/inspire3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top 0 left 84px, top 84px right 0,
    bottom -87px right 84px;
}

.inspire button {
  background-color: #20201f;
  font-size: 19px;
  padding: 13px 30px;
  color: #e5e2de;
  border: 1px solid #e5e2de;

  border-radius: 42px;
}

.about {
  padding: 120px 0;
  color: #20201f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.about h2 {
  width: 400px;
  font-size: 49px;
  line-height: 57.5px;
  text-align: center;
  font-weight: 400;
}

.about button {
  padding: 13px 30px;
  background-color: #fff;
  color: inherit;
  border: 1px solid inherit;
  border-radius: 42px;
  font-size: 19px;
  width: 155px;
}

.learn-more {
  padding-top: 115px;
  padding-bottom: 311px;

  font-weight: 400;
  color: #20201f;
  background-color: #f7f7f7;

  background-image: url("images/learn-more.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}

.learn-more__wrapper {
  width: calc(50% - 2 * 84px);
  margin-left: auto;
  padding-left: 84px;
  padding-right: 84px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 66px;
}

.learn-more h2 {
  font-size: 68px;
  width: 350px;
}

.learn-more p {
  width: 429px;
  font-size: 19px;
  line-height: 33px;
  font-weight: 400;
}

.learn-more button {
  border: 1px solid #20201f;
  border-radius: 42px;
  background-color: inherit;

  padding: 13px 30px;
  font-size: 19px;
  font-weight: 400;
}
.author {
  height: 800px;
  background-image: url("images/author.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.request {
  padding: 60px 84px;
  background-color: #e5e2de;
  color: #20201f;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 152px;
}

.request h2 {
  width: 278px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.request label {
  font-size: 19px;
  line-height: 38px;
  font-weight: 400;

  display: block;
}

.request p {
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 23px;
}

.request input[type="text"] {
  background-color: inherit;
  border-radius: 14px;
  border: 1px solid #8b8b8b;
  outline: none;
  padding: 0 14px;
  font-size: 19px;
  width: 342px;
  height: 62px;
}

.request button{
    background-color: inherit;
    padding: 13px 30px;
    font-size: 19px;
    font-weight: 400;
    border-radius: 14px;
    border: 1px solid #8b8b8b;
    height: 62px;
    flex-grow: 1;
}

.request__wrapper{
    width: 495px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-bottom: 23px;
}

.request__checkbox{
    max-width: 495px;
    border: 1px solid #8b8b8b;
    border-radius: 14px;

    text-align: center;
    word-spacing: 3px;

    transition: transform 0.3s ease-in;
    position: relative;
    z-index: 10;
}

.request__checkbox:hover{
    transform: scale(1.03);
}

.footer{
    padding: 75px 84px;
    background-color: #20201f;
    color: #e5e2de;

    font-size: 19px;
    font-weight: 400;
    line-height: 33px;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 156px;
}

.footer__list{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer__list__item{
    flex-basis: 124px;
    flex-grow: 0;
    flex-shrink: 0;
}

.footer__list__item p{
    margin-bottom: 28px;
}